.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:30px;
}

.footer{
    background-color: #ebebeb !important;
    margin:0px auto !important;
    padding: 20px 0px 20px 0px !important;
}
.jumbotron {
    padding:70px 30px 70px 30px !important;
    margin:0px auto;
    background-color: blueviolet!important;
    color: white;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.navbar-dark {
    background-color: #512DA8 !important;
}