.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

footer{
    background: #ebebeb !important;
    margin:0px auto !important;
    padding: 20px 0px 20px 0px !important;
}
.jumbotron {
    padding:70px 30px 70px 30px !important;
    margin:0px auto;
    background: blueviolet !important ;
    color: white;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
body{
    padding:50px 0px 0px 0px !important;
    z-index:0 !important;
}

.navbar-dark {
     background-color: #512DA8 !important;
}
.carousel {
    background:#512DA8;
    
}

.carousel-item {
  height: 300px;
}


.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}